{% extends "base.html" %}
{% load staticfiles %}

{%block title%}
    {{article.title}}
{% endblock title%}
{% block header_extends %}
    <link rel="stylesheet" href="{% static 'article/article_list.css' %}">
{% endblock header_extends %}
{% block article_active %}active{%endblock%}
{% block content%}
<div class="container">
    <div class="row">
        <div class="col-xs--10 col-xs-offset-1">
            <h3>{{ article.title }}</h3>
            <ul class="article-info-description">
                <li>Author: {{article.author}}</li>
                <li>Created at: {{article.created | date:"m/d/Y G:n:s"}}</li>
                <li>Type: <a href="{% url 'article:articles_with_tag' article.tag.pk%}">{{ article.tag }}</a></li>
            </ul>
            <div>
                <p>{{article.body|safe}}</p>
            </div>
            <hr>
            <ul class="pager">
                {% if previous_article is None %}
                    <li>Prev: No more previous article</li>
                {% else %}
                    <li>Prev: <a href="{% url 'article:article_detail' previous_article.pk%}">{{previous_article.title}}</a></li>
                {% endif %}
                {% if next_article is None %}
                    <li>Next: No more next article</li>
                {% else %}
                    <li>Next: <a href="{% url 'article:article_detail' next_article.pk%}">{{next_article.title}}</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
{% endblock content %}