{% extends "base.html" %}
{% load staticfiles %}
{% load comment_tags %}
{%block title%}
    {{article.title}}
{% endblock title%}
{% block header_extends %}
    <link rel="stylesheet" href="{% static 'article/article_list.css' %}">
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
{% endblock header_extends %}
{% block article_active %}active{%endblock%}
{% block content%}
<div class="container">
    <div class="row">
        <div class="col-12 col-xs--12 col-xs-offset-1">
            <h3>{{ article.title }}</h3>
            <ul class="article-info-description">
                <li>Author: {{article.author}}</li>
                <li>Created at: {{article.created | date:"m/d/Y G:n:s"}}</li>
                <li>Type: <a href="{% url 'article:articles_with_tag' article.tag.pk%}">{{ article.tag }}</a></li>
                <li>Read({{read}})</li>
                <li>Comment:({% get_comment_count article %})</li>
            </ul>
            <div class="shadow-sm p-3 mb-2 bg-white rounded">
                <p>{{article.body|safe}}</p>
            </div>
            <hr>
            <ul class="pager">
                {% if previous_article is None %}
                    <li>Prev: No more previous article</li>
                {% else %}
                    <li>Prev: <a href="{% url 'article:article_detail' previous_article.pk%}">{{previous_article.title}}</a></li>
                {% endif %}
                {% if next_article is None %}
                    <li>Next: No more next article</li>
                {% else %}
                    <li>Next: <a href="{% url 'article:article_detail' next_article.pk%}">{{next_article.title}}</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="comment-area">
                <h3 class="comment-area-title">Submit Comment</h3>
                {% if user.is_authenticated %}
                    <form id="comment_form" action="{% url 'update_comment' %}" method="POST" style="overflow:hidden">
                        <label>{{ user.username }} login successfully. Welcome to comment~</label>
                        <div id="reply_content_container" style="display:none;">
                                <p id="reply_title">Reply to：</p>
                                <div id="reply_content"></div>
                        </div>
                        {% csrf_token %}
                        {% get_comment_form article as comment_form %}
                        {% for field in comment_form %}
                            {{field}}
                        {% endfor %}
                        <span id="comment_error" class="text-danger pull-left"></span>
                        <br>
                        <input type="submit" class="btn btn-primary">
                    </form>
                {% else %}
                    Need to login to comment
                    <a class="btn btn-primary" href="{% url 'login' %}?from={{ request.get_full_path }}">Login</a>
                    <span> or </span>
                    <a class="btn btn-danger" href="{% url 'register' %}?from={{ request.get_full_path }}">Register</a>
                {% endif %}
            </div>
            <div class="comment-area">
                <h3 class="comment-area-title">Comment List</h3>
                <div id="comment_list">
                    {% get_comment_list article as comments %}
                    {% for comment in comments %}
                        <div id="root_{{ comment.pk }}" class="comment">
                            <span>{{comment.user.username}}</span>
                            <span>{{comment.comment_time|date:"Y-m-d H:i:s"}}</span>
                            <div id="comment_{{comment.pk}}">
                                {{comment.text|safe}}
                            </div>
                            <a href="javascript:reply({{ comment.pk }});">Reply</a>

                            {% for reply in comment.root_comment.all %}
                                <div class="reply">
                                    <span>{{ reply.user.username }}</span>
                                    <span>({{ reply.comment_time|date:"Y-m-d H:i:s" }})</span>
                                    <span>Reply</span>
                                    <span>{{ reply.reply_to.username }}：</span>
                                    <div id="comment_{{ reply.pk }}">
                                        {{ reply.text|safe }}
                                    </div>
                                    <a href="javascript:reply({{ reply.pk }});">Reply</a>
                                </div>
                            {% endfor %}
                        </div>
                    {% empty %}
                        No Comment
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock content %}

{% block script_extends%}
    <script type="text/javascript">
        function numFormat(num){
            return ('00' + num).substr(-2);
        }
        function timeFormat(timestamp){
            var datetime = new Date(timestamp * 1000);
            var year = numFormat(datetime.getFullYear());
            var month = numFormat(datetime.getMonth() + 1);
            var day = numFormat(datetime.getDate());
            var hour = numFormat(datetime.getHours());
            var minute = numFormat(datetime.getMinutes());
            var second = numFormat(datetime.getSeconds());
            return year + '-' + month + '-' + day + ' ' + hour + ':' + minute + ':' + second;
        }
        $("#comment_form").submit(function(){
            // 判断是否为空
            $("#comment_error").text('');
            if(CKEDITOR.instances["id_text"].document.getBody().getText().trim()==''){
                $("#comment_error").text('评论内容不能为空');
                return false;
            }
            // 更新数据到textarea
            CKEDITOR.instances['id_text'].updateElement();
            // 异步提交
            $.ajax({
                url: "{% url 'update_comment' %}",
                type: 'POST',
                data: $(this).serialize(),
                cache: false,
                success: function(data){
                    console.log(data);
                    if(data['status']=="SUCCESS"){
                        // 插入数据
                        if($('#reply_comment_id').val()=='0'){
                            // 插入评论
                            console.log(data['comment_time'])
                            console.log(timeFormat(data['comment_time']))
                            var comment_html = '<div id="root_' + data['pk'] + '" class="comment"><span>' + data['username'] + '</span><span> (' + timeFormat(data['comment_time']) + ')：</span><div id="comment_' + data['pk'] + '">' + data['text'] + '</div><a href="javascript:reply(' + data['pk'] + ');">回复</a></div>';
                            $("#comment_list").prepend(comment_html);
                        }else{
                            // 插入回复
                            var reply_html ='<div class="reply"><span>' + data['username'] + '</span><span> (' + timeFormat(data['comment_time']) + ')</span><span> Reply </span><span>' + data['reply_to'] + '：</span><div id="comment_' + data['pk'] + '">' + data['text'] + '</div><a href="javascript:reply(' + data['pk'] + ');">回复</a></div>';
                            $("#root_" + data['root_pk']).append(reply_html);
                        }
                        // 清空编辑框的内容
                        CKEDITOR.instances['id_text'].setData('');
                        $('#reply_content_container').hide();
                        $('#reply_comment_id').val('0');
                        $('#no_comment').remove();
                        $("#comment_error").text('Successfully comment!');
                    }else{
                        // 显示错误信息
                        $("#comment_error").text(data['message']);
                    }
                },
                error: function(xhr){
                    console.log(xhr);
                }
            });
            return false;
        });
        function reply(reply_comment_id){
            // 设置值
            $('#reply_comment_id').val(reply_comment_id);
            var html = $("#comment_" + reply_comment_id).html();
            $('#reply_content').html(html);
            $('#reply_content_container').show();
            $('html').animate({scrollTop: $('#comment_form').offset().top - 60}, 300, function(){
                CKEDITOR.instances['id_text'].focus();
            });
        }
    </script>
{% endblock %}