{% extends "base.html"%}
{% load staticfiles %}

{% block title %}
Index
{% endblock title %}
{% block header_extends %}
    <link rel="stylesheet" href="{% static 'article/article_list.css' %}">
{% endblock header_extends %}
{% block article_active %}active{%endblock article_active%}
{%block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-8 col-sm-8">
                <div class="card">
                    <div class="card-header">
                        {% block blog_list_title %}Article List（Total {{ articles.paginator.count }} articles）{% endblock %}
                    </div>
                    <div class="card-body">
                        {% for article in articles.object_list %}
                            <div class="blog">
                                <h3><a href="{% url 'article:article_detail' article.id %}">{{ article.title}}</a></h3>
                                <p class="blog-info">
                                    <img src="{% static 'image/tags.svg'%}" width="15" height="15"><a href="{% url 'article:articles_with_tag' article.tag.pk %}">{{ article.tag }}</a>
                                    <img src="{% static 'image/clock.svg'%}" width="15" height="15">{{ article.created|date:"Y-m-d G:n:s" }}
                                </p>
                                <p>{{ article.body|striptags|truncatewords:100 | safe}}</p>
                                <hr>
                            </div>
                        {% endfor %}
                    </div>
                </div>

            </div>
            <div class="hidden-xs col-md-4 col-sm-4">
                <div class="card">
                    <div class="card-header">
                        Article Tags
                    </div>
                    <div class="card-body">
                        <ul>
                            {%for tag in tags%}
                            <li>
                                <a href="{% url 'article:articles_with_tag' tag.pk%}">{{tag.tag_name}}</a>
                            </li>
                            {% empty %}
                            <li>No Tags</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

{%endblock content %}